<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mercadolibre.android.ui.example">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/img_example_4"
        android:label="@string/app_name"
        android:theme="@style/Theme.MLTheme">
        <activity
            android:name=".legacy.MainLegacyActivity"
            android:label="@string/app_name"
            android:parentActivityName=".SplashActivity"/>
        <activity
            android:name=".legacy.DefaultComponentsActivity"
            android:label="@string/title_activity_default"
            android:parentActivityName=".legacy.MainLegacyActivity"/>
        <activity
            android:name=".legacy.widgets.mlimageview.MLImagePagerActivity"
            android:label="@string/title_activity_ml_imagepager"
            android:parentActivityName=".legacy.WidgetsActivity"/>
        <activity
            android:name=".legacy.widgets.atableview.ATableViewActivity"
            android:label="@string/title_activity_atable_view"
            android:parentActivityName=".legacy.WidgetsActivity"/>
        <activity
            android:name=".legacy.WidgetsActivity"
            android:label="@string/title_activity_widgets"
            android:parentActivityName=".legacy.MainLegacyActivity"/>
        <activity
            android:name=".legacy.widgets.banner.officialstore.BannerOfficialStoreActivity"
            android:label="Banner/Official Store"
            android:parentActivityName=".legacy.WidgetsActivity"/>
        <activity
            android:name=".ui.drawee.DraweeStateActivity"
            android:label="@string/title_activity_drawee" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".SplashActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashActivity"/>
        </activity>
        <activity
            android:name=".ui.fonts.FontsActivity"
            android:label="@string/title_activity_fonts"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mercadolibre.android.ui.example.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.widgets.ButtonsActivity"
            android:label="@string/title_activity_buttons"
            android:parentActivityName=".ui.widgets.WidgetsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mercadolibre.android.ui.example.ui.widgets.WidgetsActivity"/>
        </activity>
        <activity
            android:name=".ui.widgets.MLButtonsActivity"
            android:label="@string/title_activity_buttons"
            android:parentActivityName=".ui.widgets.WidgetsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mercadolibre.android.ui.example.ui.widgets.WidgetsActivity"/>
        </activity>
        <activity
            android:name=".ui.ColorsActivity"
            android:label="@string/title_activity_colors"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mercadolibre.android.ui.example.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.fonts.FontSizeActivity"
            android:label="@string/title_activity_font_sizes"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mercadolibre.android.ui.example.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.widgets.SnackbarActivity"
            android:label="@string/title_activity_snackbars"
            android:parentActivityName=".ui.widgets.WidgetsActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mercadolibre.android.ui.example.ui.widgets.WidgetsActivity"/>
        </activity>
        <activity
            android:name=".ui.widgets.ProgressBarActivity"
            android:label="@string/title_activity_progress_bar"
            android:parentActivityName=".ui.widgets.WidgetsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mercadolibre.android.ui.example.ui.widgets.WidgetsActivity"/>
        </activity>
        <activity
            android:name=".ui.widgets.WidgetsActivity"
            android:label="@string/title_activity_widgets"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mercadolibre.android.ui.example.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.widgets.dialog.DialogActivity"
            android:label="@string/title_activity_dialog"
            android:parentActivityName=".ui.widgets.WidgetsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mercadolibre.android.ui.example.ui.widgets.WidgetsActivity"/>
        </activity>
        <activity
            android:name=".ui.widgets.spinner.SpinnerActivity"
            android:label="@string/title_activity_spinner"
            android:parentActivityName=".ui.widgets.WidgetsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mercadolibre.android.ui.example.ui.widgets.WidgetsActivity"/>
        </activity>
        <activity
            android:name=".ui.widgets.OtherWidgetsActivity"
            android:label="@string/title_activity_otherwidgets"
            android:parentActivityName=".ui.widgets.WidgetsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mercadolibre.android.ui.example.ui.widgets.WidgetsActivity"/>
        </activity>
        <activity
            android:name=".ui.widgets.contextual_menu.ContextualMenuActivity"
            android:label="@string/title_activity_contextual_menu"
            android:parentActivityName=".ui.widgets.WidgetsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.widgets.WidgetsActivity"/>
        </activity>
        <activity
            android:name=".ui.LineSpacingActivity"
            android:label="@string/title_activity_line_spacing"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.widgets.textfield.TextFieldActivity"
            android:label="@string/title_activity_textfield"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".ui.widgets.WidgetsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mercadolibre.android.ui.example.ui.widgets.WidgetsActivity"/>
        </activity>
        <activity
            android:name=".ui.widgets.ErrorViewActivity"
            android:label="@string/title_activity_error_view">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mercadolibre.android.ui.example.ui.widgets.WidgetsActivity"/>
        </activity>
    </application>

</manifest>